<div class="footer text-muted">
    <p>
        Cette application a été réalisée avec le framework
        <a href="https://angular.io">Angular</a>, ainsi que la bibliotèque de
        programmation réactive
        <a href="https://github.com/ReactiveX/rxjs" target="_blank">Rxjs</a> et
        les bibliothèques UI
        <a href="https://material.angular.io">Angular Material</a>
        et
        <a href="https://github.com/angular/flex-layout">Angular Flex Layout</a
        >.
    </p>
    <p>
        <img src="./assets/logo-mini.svg" height="32" />
        2019 - Fait par Aurélien VERNAY (visitez mon
        <a href="https://aurelienvernay.github.io">site web</a> pour en savoir
        plus)
    </p>
</div>
